$icomoon-font-path: "fonts" !default;

$icon-arrowRignt: \e933;
$icon-arrowLeft: \e934;
$icon-collapse: \e937;
$icon-expand: \e936;
$icon-logo-small: \e935;
$icon-case: \e932;
$icon-people: \e92c;
$icon-people1: \e92d;
$icon-people2: \e92e;
$icon-pdf: \e92b;
$icon-hours: \e926;
$icon-pliers: \e927;
$icon-quality: \e928;
$icon-service2: \e929;
$icon-time: \e92a;
$icon-document: \e925;
$icon-arrow-down: \e91f;
$icon-arrow-up: \e924;
$icon-night: \e920;
$icon-officeworker: \e921;
$icon-resume: \e922;
$icon-worker: \e923;
$icon-marker: \e91e;
$icon-arrow-left: \e91a;
$icon-arrow-left-big: \e91b;
$icon-arrow-right: \e91c;
$icon-arrow-right-big: \e91d;
$icon-new-window: \e918;
$icon-logo1: \e90f;
$icon-search: \e931;
$icon-logo: \e930;
$icon-logo2: \e92f;
$icon-world: \e919;
$icon-service: \e910;
$icon-catering: \e911;
$icon-hr-club: \e912;
$icon-academy: \e913;
$icon-volyn-hub: \e914;
$icon-engineering: \e915;
$icon-planing: \e916;
$icon-forum: \e917;
$icon-mirrolab: \e90e;
$icon-helmet: \e908;
$icon-f: \e909;
$icon-g: \e90a;
$icon-in: \e90b;
$icon-tw: \e90c;
$icon-yt: \e90d;
$icon-modern-1: \e900;
$icon-modern-2: \e901;
$icon-modern-3: \e902;
$icon-modern-4: \e903;
$icon-modern-5: \e904;
$icon-modern-6: \e905;
$icon-modern-7: \e906;
$icon-modern-8: \e907;

